/ Пример использования:
/ = partial :ds_header_module, locals: {substrate: true, title_type: "Бакалавриат", get_cons_class: ".op_book", title: "Мода", share_link:"fashion"}

- if not defined? spec_class
	- spec_class = ""




.ds_header-module{class: spec_class}

	.header-wrapper{class: (substrate && !image_path.blank?) ? "header-image-back" : "", style: (substrate && !image_path.blank?) ?  "background-image: url(\"#{image_path}\");" : ""}

		- if !image_path.blank?
			.header-image-tag{class: substrate ? "hide-img" : ""}
				= image_tag image_path

		.header-content-wrapper
			.header-title
				- if !title_type.blank?
					.header-title-type= title_type

				- if !title.blank?
					%h1
						= title

				- if !share_link.blank?
					= partial :ds_share_arrow_module, locals: {link: share_link}

			- if !get_cons_class.blank?
				= partial :ds_get_consultation_button_module, locals: {get_cons_class:get_cons_class, spec_class: "to-line"}
			