.col-lg-3.col-md-4.col-lg-offset-2.col-sm-12.col-xs-12.directions-menu.about-profile-program
    %h2 Профили
    %ul
        %li.book-menu-item
            = link_to 'Дизайн книги', 'http://design.hse.ru/book'
        %li.animation-mag-menu-item
            = link_to 'Режиссура анимации', 'http://design.hse.ru/animation-mag'
        %li.regional-branding-menu-item  
            = link_to 'Территориальный брендинг и&nbsp;дизайн городской среды', 'http://design.hse.ru/regional-branding'
        %li.fashion-mag-menu-item 
            = link_to 'Мода', 'http://design.hse.ru/fashion-mag'
        %li.comm-basic-menu-item  
            = link_to 'Коммуникационный дизайн. Level&nbsp;0 (Базовый&nbsp;уровень)', 'http://design.hse.ru/comm-basic'
        %li.comm-advanced-menu-item   
            = link_to 'Коммуникационный дизайн. Level&nbsp;+ (Продвинутый&nbsp;уровень)', 'http://design.hse.ru/comm-advanced'
        %li.museumdesign-menu-item 
            = link_to 'Современный музейный дизайн', 'http://design.hse.ru/museumdesign' 

