---
project: comm-basic
title: Коммуникационный дизайн. Level 0 (Базовый уровень) - Магистратура Школы дизайна НИУ ВШЭ
titleContent: Магистерская программа «Коммуникационный дизайн»
description: "Курс рассчитан на людей, не имеющих практического опыта в дизайне. Основной принцип обучения – интенсивное освоение профессиональных навыков."
---
= partial :action
.container
    = image_tag "data/mag_02.png", class: "mag-header-image"
.container.bachelor.magistracy.main.profile-header
    .row.header
        .row
            .col-lg-12.col-md-8.col-sm-8.bottom
                %h1
                    %span 
                    Коммуникационный дизайн. Level&nbsp;0 (Базовый уровень)
                = partial :header_share, locals: {link: "comm-basic"}
.hse-menu-bachelor
.container.bachelor.magistracy.profile.comm-basic
    .content.about-program.text-with-banner
        .row
            .col-lg-7.col-md-8.about-profile-program
                .mm-edi{data:{name:'mag_basic_declaration_text'}}= "<%= block 'mag_basic_declaration_text' %>" 
        .row.decoration-line-wrapper
            .decoration-line.col-md-pull-1
            .col-lg-7.col-md-8.about-profile-program
                .mm-edi{data:{name:'mag_basic_intro_text'}}= "<%= block 'mag_basic_intro_text' %>"
                = partial :creative_map, locals: {link: "http://creativemap.hse.ru/timetable/1212"}
            = partial :menu_in_body 
    .content.about-profile                
        .row                
            .col-md-12.banner-full.banner-interview.substrate.substrate-banner
                .th-slider.swiper-container
                    .swiper-wrapper
                        .swiper-slide{style: "background-image: url(\"#{image_path('comm-advanced/substrate-banner3.png')}\"); background-size: cover;"}
                            .col-md-offset-1.col-md-2.banner-content-wrapper
                                .banner-title
                                    %h3 
                                        Павел Борисовский
                                .banner-content
                                    .mm-edi{data:{name:'mag_basic_borisovskii_text'}}= "<%= block 'mag_basic_borisovskii_text' %>"
                        .swiper-slide{style: "background-image: url(\"#{image_path('comm-basic/substrate-banner2.png')}\"); background-size: cover;"}
                            .col-md-offset-1.col-md-2.banner-content-wrapper
                                .banner-title
                                    %h3 
                                        Игорь Гурович 
                                .banner-content
                                    .mm-edi{data:{name:'mag_basic_gurovich_text'}}= "<%= block 'mag_basic_gurovich_text' %>"
                        .swiper-slide{style: "background-image: url(\"#{image_path('comm-basic/substrate-banner5.png')}\"); background-size: cover;"}
                            .col-md-offset-9.col-md-2.banner-content-wrapper{style: "color: #000; top:auto; bottom:70px;"}
                                .banner-title
                                    %h3 
                                        Арсений Сергеев
                                .banner-content
                                    .mm-edi{data:{name:'mag_basic_sergeev_text'}}= "<%= block 'mag_basic_sergeev_text' %>"
                        .swiper-slide{style: "background-image: url(\"#{image_path('comm-basic/substrate-banner4.png')}\"); background-size: cover;"}
                            .col-md-offset-1.col-md-2.banner-content-wrapper
                                .banner-title
                                    %h3 
                                        Наталья Шендрик
                                .banner-content
                                    .mm-edi{data:{name:'mag_basic_shendrik_text'}}= "<%= block 'mag_basic_shendrik_text' %>"
                    .toRignt.swiper-button-next
    .content.practice
        .row.decoration-line-wrapper
            .decoration-line.col-md-pull-1
            .col-lg-7.col-md-8.practice-content
                .mm-edi{data:{name:'mag_basic_exam_text'}}= "<%= block 'mag_basic_exam_text' %>"
                .get-consultation-button
                    %a.hse-menu__button.popUp{:href => "#", :data => { class: ".op_level0"}} Получить&nbsp;консультацию
            .col-lg-3.col-md-4.col-lg-offset-2.col-sm-12.col-xs-12
                .bachelor-info.bachelor-info-additional.bachelor-info-additional-second
                    .info-item
                        .mm-edi{data:{name:'mag_basic_abitur_text'}}= "<%= block 'mag_basic_abitur_text' %>"
                    = partial :abitur_info
    .content.practice
        .row                
            .col-lg-7.col-md-8
                %p 
                    %a{href: "http://design.hse.ru/magistracy2015", style: "color: rgb(27, 104, 255);"} Магистратура 2015             
= "<%= metrics_render %>"
= "<%= admin_script %>"